body {
  font-family: "Helvetica", sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.heading {
  background-image: url("../images/flatiron.png");
  text-align: center;
  color: white;
}

.heading h1 {
  font-size: 70px;
}

.nav {
  font-size: 18px;
  color: white;
}

.process {
  text-align: center;
}

.process h2{
  font-size: 32px;
}

.process h3{
  font-size: 23px;
}

.process p{
  font-size: 14px;
}

.heading h2 {
  font-size: 23px;
}
